In [1]:
#  start = str(datetime.today().date()-timedelta(days=start))
#         end = str(datetime.today().date()-timedelta(days=end))

#         tickerData=yf.download(ticker,start=start, end=end, period='1d')
#         tickerData['Date']=[str(x)[:10] for x in tickerData.index]

#         if tickerData.shape[0]==0:
#             raise ValueError("No data found via YFinance.")

#         logging.info(f"{os.getcwd()}")
#         logging.info(f"Length of ticker data: {tickerData.shape[0]}")
#         if tickerData.shape[0]!=0:

#             tickerData = tickerData['Close']

#             logging.info(f"Length of ticker data: {len(tickerData.index)}")

#                 # Only persisting the latest in the repository
#             path = f'../data/{ticker}.csv'
#             tickerData.to_csv(path,index=True)

# ticker: WIPRO.NS
#   start: 366
#   end: 1

In [2]:
import yfinance as yf
from datetime import datetime, timedelta
import numpy as np
import re

In [3]:
TICKER = "WIPRO.NS"
START = 366
END = 1

In [4]:
start = str(datetime.today().date()-timedelta(days=START))
end = str(datetime.today().date()-timedelta(days=END))

start, end

('2022-05-02', '2023-05-02')

In [5]:
tickerData=yf.download(TICKER, start=start, end=end, period='1d')
type(tickerData)

[*********************100%***********************]  1 of 1 completed

pandas.core.frame.DataFrame

In [6]:
tickerData.shape

(247, 6)

In [7]:
tickerData.head()

             Open        High         Low       Close   Adj Close    Volume
Date
2022-05-02  515.5  519.000000  492.600006  495.000000  493.783783  21911427
2022-05-04  500.0  503.850006  489.250000  491.750000  490.541748   8633927
2022-05-05  501.0  503.700012  496.299988  501.149994  499.918671   5434766
2022-05-06  490.0  490.899994  481.000000  485.100006  483.908112   9220891
2022-05-09  482.0  489.350006  474.600006  483.149994  481.962891   8337625

In [8]:
tickerData['Date']=[str(x)[:10] for x in tickerData.index]

In [9]:
tickerData.head()

,Open,High,Low,Close,Adj Close,Volume,Date
Date,,,,,,,
2022-05-02,515.5,519.000000,492.600006,495.000000,493.783783,21911427,2022-05-02
2022-05-04,500.0,503.850006,489.250000,491.750000,490.541748,8633927,2022-05-04
2022-05-05,501.0,503.700012,496.299988,501.149994,499.918671,5434766,2022-05-05
2022-05-06,490.0,490.899994,481.000000,485.100006,483.908112,9220891,2022-05-06
2022-05-09,482.0,489.350006,474.600006,483.149994,481.962891,8337625,2022-05-09

In [10]:
tickerData = tickerData['Close']
print("Length of ticker data: ", len(tickerData.index))

Length of ticker data:  247

In [11]:
path = f"../data/{TICKER}.csv"
tickerData.to_csv(path, index=True)

In [12]:
tags={
    'Length':   len(tickerData),
    'Start':    str(tickerData.index[0].date()),
    'End':      str(tickerData.index[-1].date()),
    'Median':   np.round(tickerData.median(), 2),
    'SD':       np.round(tickerData.std(), 2)
}

In [13]:
tags

{'Length': 247,
 'Start': '2022-05-02',
 'End': '2023-04-28',
 'Median': 403.2,
 'SD': 29.79}

In [14]:
name=TICKER[:TICKER.index('.')]
name

'WIPRO'

In [15]:
version=re.sub('-', '', str(datetime.today().date()))
description=f"Stock data for {TICKER} during {tags['Start']}:{tags['End']} in 1d interval."
path=path
tags=tags

# Write to yaml file

with open("../jobs/data_upload.yml", "w") as f:
    f.write(
        f"""$schema: https://azuremlschemas.azureedge.net/latest/data.schema.json
        \ntype: uri_file\nname: '{name}'\ndescription: {description}\npath: '{path}'\ntags: {tags}\nversion: {version}""")